<f:layout name="HomePage" />
<f:section name="Main">
    <div style="background-color: red; padding: 0.5em 1em">
        <dl>
            <dt>Template file</dt>
            <dd>
                <code
                    >typo3conf/ext/lesson_typo3/Resources/Private/Templates/Page/Default.htmlXXXXXXXxxx</code
                >
            </dd>
            <dt>Backend Configuration</dt>
            <dd>
                <code
                    >typo3conf/ext/lesson_typo3/Configuration/TsConfig/Page/Mod/WebLayout/BackendLayouts/default.tsconfig</code
                >
            </dd>
        </dl>
    </div>

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
</f:section>
